<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pita Tracker</title>
    <link href="assets/css/main.css" rel="stylesheet" />
</head>

<body>

    <h1>Pita Tracker 1.0</h1>
    <div><canvas id="bloodChart"></canvas></div>
    <div><canvas id="insulinChart"></canvas></div>
    <div><canvas id="foodChart"></canvas></div>

    <div>
        <h2>Today's Readings</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody id="data-body">
              
            </tbody>
        </table>
    </div>

    <% blood.forEach(item => { %>
        <div><%= item.date %></div>
    <% }) %>

     <% insulin.forEach(item => { %>
        <div><%= item.insulin %></div>
    <% }) %>

     <% food.forEach(item => { %>
        <div><%= item.food %></div>
    <% }) %>

   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script>
      fetch('/api/entries/today')
            .then(res => res.json())
            .then(data => {
                const tbody = document.getElementById('data-body');

                data.forEach(row => {
                    const tr = document.createElement('tr');
                    tr.innerHTML = `
                 <td>${row.source}</td>
                 <td>${row.date}</td>
                 <td>${row.time}</td>
                 <td>${row.blood}</td>
               `;
                    tbody.appendChild(tr);

                });
            })
            .catch(err => {
                console.error('Error fetching data:', err);
        });
    </script>
    <script src="assets/js/chartjs.min.js"></script>
    <script src="assets/js/chartjs-adapter-date-fns.min.js"></script>
</body>
</html>